<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    Hello Team,
    <p style="margin-left:30px;">
        Please find the schedule details organized by <b><% CREATOR_NAME %></b> as follow
    </p>
    <table>
        <tbody>
            <tr>
                <td><b>Name</b></td>
                <td>  <% Name %>  </td>
            </tr>
            <tr>
                <td><b>Details</b></td>
                <td> <% Details %> </td>
            </tr>
            <tr>
                <td><b>Start</b></td>
                <td> <% FROM %> </td>
            </tr>
            <tr>
                <td><b>End</b></td>
                <td> <% TO %> </td>
            </tr>
        </tbody>
    </table>

    <pre>
        This is system generated mail. All right reserved @ dmo.mastertechsoltion.com
    </pre>

</body>
</html>